<footer>
  请如实回答所有的问题。
  <!-- <nav>
    <a href="/">实验说明页</a> 
    <ul>
      <li>
        <a href="/authors">Authors</a>
        <a href="/authors/new">Add Author</a>
      </li>
    </ul>
  </nav> -->
</footer>