<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Economics Experiment</title>
</head>
<body>
  <h1>Title: 经济学实验</h1>
  <%- body  %>
  <%- include('../partials/footer.ejs') %>
  <%- include('../partials/errorMessage.ejs') %>
</body>
</html>