<div class="instr-container">
    <h1>实验说明</h1>
    <div class="instr-description">
      <p>
      <p>亲爱的参与者：</p>
      <p>你好！感谢你参与本次实验。以下是实验的具体流程，请仔细阅读并按照要求完成本次实验的内容。</p>

      <div class="instr-stage">
          <h2>第一阶段</h2>
          <p>1. <strong>话题介绍</strong>：我们将为你提供四个不同领域的话题，包括文化、科技、经济和社会。这些话题在生活中常常引发讨论。</p>
          <p>2. <strong>表达观点</strong>：你需要依次阅读这些话题的简短介绍，并针对每个话题表达你的看法。请明确表示你是否支持某一观点。例如，我们会问你：“你是否支持***？”请根据你的真实看法回答。</p>
      </div>

      <div class="instr-stage">
          <h2>第二阶段</h2>
          <p>1. <strong>观点呈现</strong>：对于每个话题，我们会进一步向你展示两个观点。</p>
          <p>2. <strong>回答问题</strong>：阅读完这两个观点后，你需要回答以下两个问题：</p>
          <ul>
            <li><strong>问题1</strong>：你需要从上面的两个观点中选择一个来继续阅读。（由于时间限制，我们无法提供两个观点的具体内容供你阅读。但你需要从中选择一个，表明你希望进一步了解其观点的具体内容。）</li>
            <li><strong>问题2</strong>：请对每个观点的内容质量进行评分，范围从1星（非常差）到5星（非常好）。请考虑内容的可靠性、相关性和说服力。（请根据你对观点的主观感受进行评价）</li>
          </ul>
      </div>

      <div class="instr-stage">
          <h2>第三阶段：阅读材料与进一步评估</h2>
          <p>1. <strong>阅读材料</strong>：我们将为你提供一篇短文。请仔细阅读。</p>
          <p>2. <strong>三阶段评估1</strong>：阅读短文后，你将进入一个与第二阶段内容完全一样的页面。你需要运用你从阅读材料里学习到的知识，再次回答每个话题所对应的两个问题。请根据你的最新想法回答。</p>
          <p>3. <strong>三阶段评估2</strong>：最后，你将看到一个与之前类似的页面，四个话题内容保持不变，但是你会看到两个新的观点。在了解这两个新的观点后，请再次回答相同的两个问题。</p>
      </div>

      <!-- <div class="instr-stage">
          <h2>后续实验</h2>
          <p>在一周后（或10天后），我们会邀请您再次参与实验。届时，您将再次经历第一阶段和第二阶段的内容，但主题和论证会有所不同。请按照相同的流程完成实验。</p>
      </div> -->

      <p>在整个实验过程中，你的回答将被严格保密，仅用于研究目的。你的参与对我们的研究非常重要，感谢你的时间和支持！</p>
      <p>在参与实验期间，若你有任何疑问，请通过腾讯会议私信联系实验负责人。</p>
      <p><strong>注意：请认真对待且如实回答每一个问题。</strong></p>
        </p>
      </div>
    <div class="next-link">
      <a href="/phases">点击继续</a>
    </div>
  </div>