.grid-container {
  display: grid;
  /* 创建四列，每列宽度平均分配剩余空间 */
  grid-template-columns: repeat(4, 1fr);
  gap: 10px; /* 设置网格项之间的间距 */
}

/* 定义网格项样式 */
.grid-item1, .grid-item2, .grid-item3, .grid-item4 {
  background-color: #e0e0e0;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.Q2Q3-container {
  display: flex;
  gap: 30px; /* Optional: adds space between the two dropdowns */
  align-items: center;
  padding-left: 30px;
}
