<div>
  <label>Nick-Name</label>
  <input type="text" name="name" value="<%= player.name %>">
</div>
<div>
  <label>Player ID</label>
  <input type="number" name="playerId" value="<%= player.playerId %>" step="1">
</div>

