<hr>
<p>
  注意：请如实回答所有的问题。
</p>
<hr>
<h2>在这里填写玩家ID</h2>
首先让被试者填写自己的玩家ID:
<form action="/phases" id="createIdForm" method="POST">
  <%- include('_form_fields',{ player: player }) %>
  <a href="/phases">Cancel</a>
  <button type="submit" id="idCreateButton">Create</button>
</form>
<hr>
<a href="/phases/phase1">点击进入第一阶段</a>
