<div class="phase3-intro-container">
  <h2>请认真阅读下面的文字，然后继续。</h2>
      <%- message %>
      <br>
    <div class="next-link">
      <a href="/phases/phase3_repQ">点击继续</a>
    </div>
</div>
<script type="module" src="../js/phase3_intro.js"></script>