<h2>这里是第一阶段</h2>
<h1>Welcome, <%= author.name %>!</h1>
<p>Your Player ID is: <%= author.playerId %></p>
<!-- 网格容器 -->
<div class="grid-container" id="phase1-grids">
</div>
<br>
<a href="/phases/phase2">点击进入第二阶段</a>
<script type="module" src="../js/phase1.js"></script>