<div class="phases-container">
  <hr>
  <h1>第一阶段</h1>
    <div class="left-align-block">
      <p>你好, <%= player.name %> (玩家ID：<%= player.playerId %>)! 请依次阅读以下四个话题，并表明你的观点立场。</p>
    </div>
    <!-- 网格容器 -->
    <form action="/phases/phase1" method="POST">
      <div class="grid-container" id="phase1-grids">
      </div>
      <div class="left-align-block">
        <p><strong>注意：请认真对待且如实回答每一个问题。</strong></p>
        <button type="submit" id="phase1SubmitButton" class="button-link">提交并继续</button>
      </div>
    </form>
</div>
<!-- <a href="/phases/phase2">点击进入第二阶段</a> -->
<script type="module" src="../js/phase1.js"></script>